<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ChatCIT</title>
</head>
<body>
    <h1>ChatCIT</h1>
    千葉工業大学のうさぎが答えるよ！

    <p> <%- talk%> </p>
    <form action="/chatcit">
        <input type="text" name="usr_message" required>
        <input type="hidden" name="before_talk" value="<%= talk%>">
        <input type="submit" value="送信" >
    </form>
</body>
</html>